<table class="metrics_table">
  <tr>
    <th>File Path</th>
    <th>Method</th>
    <th>Description</th>
    <th>Type</th>
  </tr>
  <% count = 0 %>
  <% @reek[:matches].each do |match| %>
    <% match[:code_smells].each do |smell| %>
      <tr class='<%= cycle("light", "dark", count) %>'>
        <td><a href=<%= "#{RubyStatic::NAME.underscore.gsub('_','-')}/#{match[:file_path].gsub(/\//,'_').concat('.html')}" %>><%= match[:file_path] %></a></td>
        <td>
          <%= smell[:method] %>
        </td>
        <td>
          <%= smell[:message] %>
        </td>
        <td>
          <%= smell[:type] %>
        </td>
      </tr>
      <% count += 1 %>
    <% end %>
  <% end %>

</table>
